.body {
  width: 70%;
  display: block;
  margin: 20px auto;
  background-color: white;
  padding: 20px 20px 50px 20px;
  border-radius: 10px;
  margin-top: 80px;
  width: 60%;
}

body {
  background-color: rgb(177, 240, 240);
}

h1 {
  text-align: center;
  font-size: 46px;
  padding: 24px;
}
.searchForm {
  padding: 24px;
  margin: 30px 30px 0 30px;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(11, 179, 179);
  display: flex;
  justify-self: center;
  justify-content: center;
}
.search-bar {
  padding: 16px;
  width: 70%;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgb(240, 248, 255);
}

.button {
  display: flex;
  border: none;
  font-size: 30px;
  background-color: rgb(240, 248, 255);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
main {
  text-align: center;
  line-height: 26px;
  font-size: 17px;
}
.AI-Remedy {
  padding: 18px;
  margin: 60px;
  border-left: rgb(8, 219, 219) solid;
}
.blink {
  animation: blink-animation 1s step-start 0s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

footer {
  text-align: center;
}
a {
  color: rgb(8, 187, 187);
}
.tip {
  font-size: 14px;
  text-align: center;
  margin: 0 20px 20px 20px;
}
strong {
  color: rgb(120, 225, 225);
}
.hidden {
  display: none;
}
